{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "branches": 50,
    "lines": 50,
    "functions": 50,
    "statements": 50,
    "include": [
        "src/**"
    ],
    "exclude": [
        "dist/**",
        "src/**/index.ts",
        "src/interfaces/**/*.ts",
        "src/enums/**/*.ts",
        "src/api/**/*.ts"
      ]
}